VITE_API_URL=https://staging.arahinn.com/api/v1
VITE_APP_NAME=OTA Arahinn
VITE_APP_URL=https://staging.arahinn.com

# Pusher (untuk LiveChat - daftar gratis di pusher.com)
VITE_PUSHER_APP_KEY=your_pusher_app_key
VITE_PUSHER_APP_CLUSTER=ap1
