VITE_API_URL=https://ota-backend.arahinn.com/api/v1
VITE_APP_NAME=Arahinn.com
VITE_APP_URL=https://arahinn.com
VITE_CUSTOMER_URL=https://arahinn.com
VITE_MANAGER_URL=https://kelola.arahinn.com
VITE_OWNER_URL=https://extranet.arahinn.com

# Pusher (untuk LiveChat - daftar gratis di pusher.com)
VITE_PUSHER_APP_KEY=your_pusher_app_key
VITE_PUSHER_APP_CLUSTER=ap1
